.header-search {
    height: var(--search-height);
    background-color: #f1f1f2;
    display: flex;
    align-items: center;
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    position: relative;
    border: 1.5px solid transparent;
    input {
        flex: 1;
        height: 100%;
        background-color: transparent;
        border: none;
        font-size: 1.6rem;
        color: var(--black);
        outline: none;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
    &::after {
        display: block;
        content: '';
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
        height: calc(var(--search-height) - var(--search-top-space) * 2);
        position: absolute;
        top: 9px;
        right: 52px;
    }
}

.clear,
.loading {
    border: none;
    position: absolute;
    top: 50%;
    right: calc(var(--search-btn-width) + 16px);
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-result,
.header-search {
    width: 361px;
}

.search-result {
    // margin-top: 8px;
    h4 {
        height: 30px;
        padding: 5px 12px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        color: rgba(22, 24, 35, 0.5);
    }
}

.search-btn {
    border: none;
    outline: none;
    width: var(--search-btn-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.34);
    padding-right: 4px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.search-note {
    padding: 15px 16px;
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: rgb(22, 24, 35);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
