.container {
    margin-top: var(--default-layout-header-height);
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
}

.content {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 16px 0;
}

.normal {
    display: inline-block;
    width: var(--default-layout-width);
}

.full {
    width: 100%;
}
