.language_choose {
}

.dropPlace {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 1px dashed var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 400px;
    height: 400px;
}
.drop {
    border: 5px solid blue;
    width: 200px;
    height: 100px;
}

.is-dragover {
    background-color: grey;
}

.x-icon {
    position: absolute;
    top: 5px;
    right: 5px;
}
