<<<<<<< HEAD
.abcc {
    color: red;
}

=======
>>>>>>> 701e8dabfb255afd9c7d724de6cd46b5a3aba1b5
.language_choose {
}

.dropPlace {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 1px dashed var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 400px;
    height: 400px;
}
.drop {
    border: 5px solid blue;
    width: 200px;
    height: 100px;
}
